# Ignore build output directories
**/dist/**

# Ignore git hooks
**/.husky/**

# Ignore node_modules (dependencies)
**/node_modules/**

# Ignore TypeScript declaration files
*.d.ts

# Ignore lock files and configuration files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Ignore environment files
*.env*

# Ignore public/static assets and coverage files
**/public/**
**/coverage/**

# Ignore Prettier configuration file itself
.prettierignore
